div#map-container
	max-height: calc(100vh - 64px)
	width: 100%

$primary: #2196f3
$secondary: #f48eb1

$blue: #00a2ff
$green: #61d836
$orange: #ff9300
$red: #b51800
$pink: #cb297b

.controls
	position: absolute
	display: flex
	flex-direction: column
	right: 0
	top: 50%
	transform: translateY(-50%)
	.control
		margin: 0.5rem

.circle-marker
	height: 1rem
	width: 1rem
	border-radius: 50%
	background: $secondary
	border: 2px solid darken($secondary, 10%)
	transform: translate(-50%, -50%)
	z-index: 100
	&.active
		animation: 1s linear infinite ping_secondary
	&.gps-pos
		background: $primary
		border: 2px solid darken($primary, 10%)
		&.active
			animation: 1s linear infinite ping_primary
	&.waypoint
		background: #cccccc
		border-color: darken(#ccc,10%)

.legend
	display: flex
	justify-content: space-evenly
	padding-right: 0.5rem
	flex-direction: column
	position: absolute
	right: 0
	top: 20%
	height: 200px
	width: 200px
	background: transparentize(#282c34, 0.5)
	border: 1px solid #282c34
	border-radius: 1rem 0 0 1rem
	font-weight: bolder
	.entry
		display: flex
		align-items: center
		justify-content: flex-end
		text-align: right
		span.color-mark
			height: 12px
			width: 100%
			margin-left: 0.5rem
			border-radius: 6px 0 0 4px
			border: 1px solid #282c34
			&.blue
				background: $blue
			&.green
				background: $green
			&.orange
				background: $orange
			&.red
				background: $red
			&.pink
				background: $pink

		span:not(.color-mark)
			text-align: left
			flex: 0 1 250px
			margin-left: 0.5rem

#deckgl-wrapper
	position: relative
	height: 100%
	width: 100%

.overlays, .custom-overlay
	z-index: 100 !important


@keyframes ping_primary
	0%
		box-shadow: 0 0 0 0 $primary
	50%
		box-shadow: 0 0 1.5rem 0.15rem opacify($primary, 0.5)
	100%
		box-shadow: 0 0 3rem 0.25rem transparent


@keyframes ping_secondary
	0%
		box-shadow: 0 0 0 0 $secondary
	50%
		box-shadow: 0 0 1.5rem 0.15rem opacify($secondary, 0.5)
	100%
		box-shadow: 0 0 3rem 0.25rem transparent
